
Sources/.vs/

Sources/packages/

Sources/GestionStock/bin/

Sources/GestionStock/obj/

Sources/GestionStock.Batch1/bin/

Sources/GestionStock.Batch1/obj/

Sources/GestionStock.Business/bin/

Sources/GestionStock.Business/obj/

Sources/GestionStock.Database/bin/

Sources/GestionStock.Database/obj/

Sources/GestionStock.Test/bin/

Sources/GestionStock.Test/obj/

Sources/WPFGestionStock/bin/

Sources/WPFGestionStock/obj/
